.info-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
    width: fit-content;
    margin: 40px auto;
}

.info-container img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.movie-info {
    max-width: 600px;
}

